$birch-bark: #F3ECD8;
$birch-leaves: #97AB17;
$pastel-purple: #665473;
$off-black: #2B2F0E;
$autumn-orange: #F1B51E;

$myWidth: 680px;

/*
* {
  box-sizing: border-box;
  border: solid $off-black 2px;
  margin: 0;
  padding: 0;
}
*/

body {
  font-size: 18px;
  font-family: Arial;
  background-color: #FFFFFF;
  color: $off-black;
}

p {
    width: $myWidth;
}

.link {
    color: $off-black;
    
    &--active {
            @extend .link;
            color: $autumn-orange;    
        }
}
